*.zip
*.db
*.txt
*.o
*.e
job*.sh
.venv
*tmp

*.ipynb_checkpoints
data/tmp
data/outputs
data/lakebench
data/lakebench_gt
data/datasets
data/log
clusters
schema
bird-mini-dev

**.jsonl
*.lock

__pycache__