*.zip
*.db
*.txt
*.o
*.e
job*.sh
.venv
*tmp
venv
.codex

*.ipynb_checkpoints
data
prev*
**.jsonl
*.lock
.env
__pycache__
oci
.pytest_cache
conf\llm\oci_api_key.pem
.hypothesis
.kiro
tests
_orqa
!tests/
tests/*
!tests/test_main_cli.py
